@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* 
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.card {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .homepage-content {
    padding-left: 70px;
    padding-right: 70px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
  .homepage-content {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media only screen and (min-width: 1000px) {
  .homepage-content {
    padding-left: 200px;
    padding-right: 200px;
  }
}
.nav-container {
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.05);
}
